[run]
include =
    limits/*
omit =
    /*/limits/_version*
    /*/limits/backports/*
    /*/google-cloud-sdk/*
    setup.py
    versioneer.py
[report]
exclude_lines =
    pragma: no cover
    noqa
    raise NotImplementedError
