.benchmark-chart {
  width: 100%;
}
.benchmark-details {
  .benchmark-details-section {
    thead > tr {
      color: var(--color-purple);
    }
  }
}
.benchmark-chart-error,
.benchmark-details-error {
  color: var(--color-red);
  font-size: smaller;
  padding: 2em;
  text-align: center;
  height: 5em;
}
.benchmark-chart-loading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: var(--color-purple);
  letter-spacing: 1px;
  height: 200px;
  animation: benchmark-chart-loading-animation;
  animation-iteration-count: 10;
  animation-duration: 2s;
}

@keyframes benchmark-chart-loading-animation {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  90% {
    opacity: 0.9;
  }
  100% {
    opacity: 1;
  }
}
.benchmark-filters {
  padding-top: 1em;
  padding-bottom: 1em;
  display: flex;
  justify-content: flex-end;
}
.benchmark-filter-dropdowns {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  margin-top: 2em;
  flex-direction: row;
  @media only screen and (max-width: 800px) {
    flex-basis: min-content;
  }
  @media only screen and (max-width: 400px) {
    flex-basis: max-content;
    flex-direction: column;
  }
}

.compare-dropdown {
  display: flex;
  justify-content: flex-end;
}

.benchmark-filter {
  display: flex;
  flex-direction: row;
  gap: 0.25em;
  padding: 0.25em;
}

.benchmark-filter label,
.compare-filter label {
  font-size: small;
  font-weight: bold;
}

.benchmark-filter select,
.compare-filter select {
  font-size: small;
  border: 1px solid;
  border-radius: 0.4em;
}
