name: Compatibility

on:
  create:
    tags: ['*']
  push:
    branches: ['master']
  schedule:
  - cron: 0 23 * * *
jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        service_version: ["ALL_LATEST=true"]
        marker: [not integration]
        include:
          - service_version: "LIMITS_REDIS_SERVER_SSL_VERSION=7.2"
            marker: "redis"
          - service_version: "LIMITS_REDIS_SERVER_SSL_VERSION=7.0"
            marker: "redis"
          - service_version: "LIMITS_REDIS_SERVER_SSL_VERSION=6.2.6"
            marker: "redis"
          - service_version: "LIMITS_REDIS_SERVER_SSL_VERSION=6.0.16"
            marker: "redis"
          - service_version: "LIMITS_REDIS_SERVER_VERSION=7.2"
            marker: "redis"
          - service_version: "LIMITS_REDIS_SERVER_VERSION=7.0"
            marker: "redis"
          - service_version: "LIMITS_REDIS_SERVER_VERSION=6.2.6"
            marker: "redis"
          - service_version: "LIMITS_REDIS_SERVER_VERSION=6.0.16"
            marker: "redis"
          - service_version: "LIMITS_REDIS_SENTINEL_SERVER_VERSION=7.2"
            marker: "redis_sentinel"
          - service_version: "LIMITS_REDIS_SENTINEL_SERVER_VERSION=7.0"
            marker: "redis_sentinel"
          - service_version: "LIMITS_REDIS_SENTINEL_SERVER_VERSION=6.2.6"
            marker: "redis_sentinel"
          - service_version: "LIMITS_REDIS_SENTINEL_SERVER_VERSION=6.0.16"
            marker: "redis_sentinel"
          - service_version: "LIMITS_MONGODB_SERVER_VERSION=7.0.5"
            marker: "mongodb"
          - service_version: "LIMITS_MONGODB_SERVER_VERSION=6.0.3"
            marker: "mongodb"
          - service_version: "LIMITS_MONGODB_SERVER_VERSION=5.0.3"
            marker: "mongodb"
          - service_version: "LIMITS_MONGODB_SERVER_VERSION=4.4.9"
            marker: "mongodb"
          - service_version: "LIMITS_MONGODB_SERVER_VERSION=4.2.17"
            marker: "mongodb"
          - service_version: "LIMITS_MEMCACHED_SERVER_VERSION=1.6.15"
            marker: "memcached"
          - service_version: "LIMITS_MEMCACHED_SERVER_VERSION=1.6.6"
            marker: "memcached"
          - service_version: "LIMITS_MEMCACHED_SERVER_VERSION=1.5.16"
            marker: "memcached"
          - service_version: "LIMITS_MEMCACHED_SERVER_VERSION=1.4.34"
            marker: "memcached"
          - service_version: "LIMITS_ETCD_SERVER_VERSION=3.5"
            marker: "etcd"
          - service_version: "LIMITS_ETCD_SERVER_VERSION=3.4"
            marker: "etcd"
          - service_version: "LIMITS_ETCD_SERVER_VERSION=3.3"
            marker: "etcd"

    steps:
    - uses: actions/checkout@v3
    - name: Cache dependencies
      uses: actions/cache@v3
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/**') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Set up Python
      uses: actions/setup-python@v1
      with:
        python-version: "3.10"
    - name: Install dependencies
      run: |
        python -m pip install "pip<22"
        python -m pip install --upgrade setuptools wheel
        pip install --no-binary protobuf -r requirements/ci.txt
    - name: Tests
      env:
        CI: "True"
      run: |
        eval "export ${{ matrix.service_version }}"
        py.test -m "${{ matrix.marker }} and not benchmark" --cov-report=xml --cov-branch --max-runs=3
