name: CI

on:
  push:
    branches: [ '*' ]
  pull_request:
    branches: [ master ]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [3.7, 3.8, 3.9]
        marker: [not integration]
        include:
          - python-version: 3.9
          - python-version: "3.10"
            marker: 'not asynchronous'
    steps:
    - uses: actions/checkout@v2
    - name: Cache dependencies
      uses: actions/cache@v1
      with:
        path: ~/.cache/pip
        key: ${{ runner.os }}-pip-${{ hashFiles('requirements/**') }}
        restore-keys: |
          ${{ runner.os }}-pip-
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip setuptools wheel
        pip install -r requirements/ci.txt
    - name: Start services
      run: |
        make setup-test-backends
    - name: Tests
      run: |
        py.test -m "${{ matrix.marker }}" --cov-report=xml --cov-branch
    - name: Upload coverage to Codecov
      uses: codecov/codecov-action@v2
